<!DOCTYPE html>
<html>

<head>
    <title>Sell</title> {% load static %}
    <link href="{% static 'buy.css' %}" rel="stylesheet">
</head>

<body>
    <nav>
        <p id="home">Cars N Bikes</p>
    </nav>
    <h1>Vehicle Details</h1>
    <form id="details" action="./buy/" method="post" enctype="multipart/form-data"> {{ form.as_p }} <input type="submit"
            id="submit"> {% csrf_token %} </form>
    <div id="resultsDiv"></div>
    <script>
        document.getElementById("home").addEventListener('click', (e) => {
            window.location = "/store"
        })
        document.getElementById("details").addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch("./buy/", {
                method: "POST",
                body: formData
            }
            )
                .then(response => response.json())
                .then((results) => {
                    let resDiv = document.getElementById("resultsDiv");
                    while (resDiv.firstChild) { resDiv.removeChild(resDiv.firstChild) }


                    resDiv.append(document.createElement("hr"));
                    for (item of results) {
                        let newDiv = document.createElement("div");
                        resDiv.appendChild(newDiv);
                        for (let [key, value] of Object.entries(item)) {
                            if (key === "id") continue;
                            let entry = document.createElement("p");
                            entry.innerHTML = `<label class="key">${key}:</label><label class="value">${value}</label>`;
                            newDiv.appendChild(entry);
                        }
                        resDiv.append(document.createElement("hr"));
                    }
                })
                .catch((error) => alert("Unable to reach the server!"))

        })

    </script>
</body>

</html>